<!DOCTYPE HTML>
<html>
<head>
    <title>카카오톡 봇 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>

<header>
    <div class="box">
        <h1><span class="appNm">카카오톡</span><span class="tit">오픈챗 봇</span></h1>
        <a href="" class="btn_addCmnd"><i>명령어 등록</i></a>
        <a href="" class="btn_navi"><i>네비게이션</i></a>
    </div>
    <!-- navigation -->
    <nav>
        <ul>
            <li><a href="/command/list">명령어 리스트</a></li>
            <li><a href="/message/list">메시지 리스트</a></li>
            <li><a href="">환경설정(?)</a></li>
        </ul>
        <a href="#" class="btn_close">닫기</a>
    </nav>
    <!-- //navigation -->
</header>

<div class="addCmnd">
    <div class="add-form">
        <h2>명령어 추가</h2>
        <label><input type="text" name="cmnd" placeholder="명령어"></label>
        <label><textarea name="reply" placeholder="답변 메시지"></textarea></label>
        <a href="#" class="btn_add">등록하기</a>
    </div>
    <a href="#" class="btn_close">닫기</a>
</div>

