{{>inc/header}}

<div class="contents">

    <h2 class="title">명령어 리스트</h2>
    <section>

        <ul class="cmnd-menu">
            <li class="cmd_all"><a href="#" class="on">All</a></li>
            <li class="cmd_general"><a href="#">메시지</a></li>
            <li class="cmd_system"><a href="#">!메시지</a></li>
            <li class="vt_card"><a href="#" class="on">카드형식 뷰</a></li>
            <li class="vt_kwd"><a href="#">키워드형식 뷰</a></li>
        </ul>

        <ul class="card-view cmnd-list cardV">
        <!-- 목록 출력 영역 -->
        {{#commands}}
            <li>
                <div class="cmnd">{{command}}</div>
                <div class="no">{{id}}</div>
                <div class="msg">{{content}}</div>
                <div class="sign">{{signalYn}}</div>
                <div class="btnDel">X</div>
            </li>
        {{/commands}}
        </ul>

        <div class="kwdV_selected">
            <h5>카카오 쳇봇 명령어 NO.</h5>
            <div class="detail">
                <div class="emptyMsg">명령어키워드를 선택해주세요.<br>상세내용을 확인할 수 있습니다.</div>
                <div class="no">?</div>
            </div>
        </div>
    </section>

</div>
{{>inc/footer}}

<script>
    $(document).ready(function() {
        $(".btnDel").on("click", function(e) {
            if(confirm("삭제 하시겠습니까?")) {
                var id = $(this).parent().find(".no").text();

                $.ajax({
                    type: 'DELETE',
                    url: '/api/command/delete/' + id,
                }).done(function () {
                    alert('삭제 되었습니다.');
                    window.location.href = '/command/list';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }
        });
    });

</script>