{{>inc/header}}

<div class="contents">

    <h2 class="title">명령어 리스트</h2>
    <section>

        <ul class="cmnd-menu">
            <li class="cmd_all"><a href="#" class="on">All</a></li>
            <li class="cmd_general"><a href="#">메시지</a></li>
            <li class="cmd_system"><a href="#">!메시지</a></li>
            <li class="vt_card"><a href="#" class="on">카드형식 뷰</a></li>
            <li class="vt_kwd"><a href="#">키워드형식 뷰</a></li>
        </ul>

        <ul class="card-view cmnd-list cardV">
        <!-- 목록 출력 영역 -->
        {{#commands}}
            <li>
                <div class="cmnd">{{command}}</div>
                <div class="no">{{id}}</div>
                <div class="msg">{{content}}</div>
                <div class="sign">{{signalYn}}</div>
            </li>
        {{/commands}}
            <!-- 디자인확인 위해 임시로 넣어둠 -->
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">1</div>
                <div class="msg">
                    전라남도 나주시 산포면
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">공지사항</div>
                <div class="no">2</div>
                <div class="msg">
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">Y</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">3</div>
                <div class="msg">
                    전라남도 나주시
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">4</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">Y</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">5</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">6</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">7</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">8</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">9</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">10</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">N</div>
            </li>
            <li>
                <div class="cmnd">날씨</div>
                <div class="no">20</div>
                <div class="msg">
                    전라남도 나주시 산포면 매성리 (목요일) 오후 10:00<br>
                    오늘 늦은 밤부터 서울.경기북부와 강원영서북부 빗방울<br>
                    ○ 현재(22시), 전국이 구름많고, 황해도 부근에서 비구름대가 시속 45km로 동남동진하고 있습니다.
                </div>
                <div class="sign">N</div>
                <div class="btnDel">X</div>
            </li>
        </ul>

        <div class="kwdV_selected">
            <h5>카카오 쳇봇 명령어 NO.</h5>
            <div class="detail"></div>
        </div>
    </section>

</div>
{{>inc/footer}}

<script>
    $(document).ready(function() {
        $(".btnDel").on("click", function(e) {
            if(confirm("삭제 하시겠습니까?")) {
                var id = $(this).parent().find(".no").text();

                $.ajax({
                    type: 'DELETE',
                    url: '/api/command/delete/' + id,
                }).done(function () {
                    alert('삭제 되었습니다.');
                    window.location.href = '/command/list';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }
        });
    });

</script>