<!DOCTYPE HTML>
<html>
<head>
    <title>카카오톡 봇 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>명령어 추가</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>명령어</th>
            <th>답변메세지</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr>
            <td><input type="text" name="command" /></td>
            <td><input type="text" name="content" /></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>