@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');



/* browser initialize : 브라우저 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, p, a, code, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr, input, select, textarea, button {margin:0; padding:0; border:none; list-style:none;  font-family:"Nanum Gothic","tahoma","malgun gothic","san-serif"; background:transparent; word-break: keep-all; word-wrap: break-word;}
img, header, nav, section, article, aside, i, a, :before, :after {transition: all 0.3s ease .05s; font-family:'Nanum Gothic', sans-serif; color: #222; }
a, a:hover {cursor:pointer; text-decoration:none; color: #222;}
table {border-collapse:collapse; border-spacing:0; }
input[type=text], input[type=password], input[type=number], input[type=file], select, textarea {width: 100%; color: #222; font-size: 18px; padding: 0.8rem; background: #fff; border: 1px solid #594941; border-radius: 0; vertical-align: middle; -webkit-appearance: none;}
textarea {height: 150px; resize: none;}
html {overflow-y: scroll; overflow-x: hidden; font-size: 14px;}
body {word-break: keep-all; background: url(/img/bg.jpg) center center/cover no-repeat fixed #fefefe;}
body.mobile {background: url(/img/bg_m.jpg) center top repeat-y fixed #fefefe;}
* {box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none;}



/*************************************************
                      layout
*************************************************/
header {height: 60px; border-bottom: 1px solid #ebebeb; background: #fff;}
header .box {position: relative; width:90vw; margin:auto;}
header h1 {float: left; margin-top: 13px; font-size: 0.8rem;}
header h1 .appNm {display: inline-block; background: #f1c40f; margin-right: 5px; font-weight: 700;}
header h1 .tit {display: block; margin-top: 2px; font-family: "Black Han Sans"; font-size: 1.6rem;}
header .btn_navi, header .btn_addCmnd {position: absolute; top: 5px; height:50px; font-size:0;}
header .btn_navi {right: 0;}
header .btn_addCmnd {right: 40px;}
header .btn_navi:before {content: '\f0c9'; font-family: "FontAwesome"; font-size: 1.7rem; line-height: 50px;}
header .btn_addCmnd:before {content: '\f044'; font-family: "FontAwesome"; font-size: 1.75rem; line-height: 52px;}
header .btn_navi:hover:before, header .btn_addCmnd:hover:before {color: #f1c40f}
nav {position:fixed; top:0; right:0; width:100%; height:100%; z-index:10; background:rgba(0,0,0,0.8); display: flex; align-items: center; justify-content: center; transform:translate(100%, 0);}
nav ul {position: relative;}
nav ul:before, nav ul:after {content: ''; position: absolute; background: url(/img/ani_imgs.svg) no-repeat 0 0/200px 60px;}
nav ul:before {top: -50px; left: 20px; width: 46px; height: 60px; background-position: -90px center; animation: smoke 5s ease-out 1s infinite;}
nav ul:after {top: -95px; left: -30px; width: 60px; height: 60px; background-position: 0 center; animation: smoke 5s ease-out 1.2s infinite;}
nav ul li {font-size: 2.1rem; text-align: center; text-decoration: underline;}
nav ul li a {position:relative; font-family: "Black Han Sans"; color: #fff;}
nav ul li a:hover {color: #f1c40f;}
nav ul li a:hover:after {content: ''; position: absolute; width:50px; height:50px; background: url(/img/ani_imgs.svg) no-repeat -135px 0px/170px 50px;}
nav.active_nav {transform:translate(0, 0)}
.contents {padding: 40px 0 50px; }
.title {margin-bottom: 1.5rem; text-decoration: underline; font-family: "Black Han Sans"; font-size: 2.2rem; text-align: center;}
section {width:90vw; margin: auto;}

@media screen and (min-width: 768px) {
    .title {font-size: 2.5rem;}
}
@media screen and (min-width: 1024px) {
    nav ul li {font-size: 2.7rem;}
    nav ul:before {top: -15px; left: -45px;}
    nav ul:after {top: -63px; left: -90px;}
}
@media screen and (min-width: 1200px) {
    header {height:90px;}
    header h1 {margin-top: 19px; font-size: 1rem;}
    header h1 .appNm {font-weight: 700;}
    header h1 .tit {font-size: 2.3rem;}
    header .btn_navi {top: 19px;}
    header .btn_navi:before {font-size:2.5rem;}
    header .btn_addCmnd {top: 19px; right: 45px;}
    header .btn_addCmnd:before {font-size:2.5rem;}
    .contents {padding: 50px 0 70px;}
    .title {position: absolute; top: 24px; left: 50%; width: 30vw; margin-left: -15vw; margin-bottom: 2rem; font-size: 2.7rem;}
}
@keyframes smoke {
    0% {transform:scale(0.3, 0.3) rotate(-20deg) translate(70px, 00px); opacity:0;}
    10% {transform:scale(1, 1) rotate(0deg) translate(0, 0); opacity:1;}
    95% {transform:scale(1, 1) rotate(0deg) translate(0, 0); opacity:1;}
    100% {transform:scale(0.7, 0.7) rotate(20deg) translate(-10px, -10px); opacity:0;}
}



/*************************************************
                      common
*************************************************/
/* 팝업 닫기버튼 */
.btn_close {position:absolute; top: 0; right: 0; width: 5rem; height: 5rem; text-align: center; line-height: 5rem; font-size: 0;}
.btn_close:before {content: '\f05c'; display: block; font-family: "FontAwesome"; font-size: 3rem; color: #fff;}
@media screen and (min-width: 1200px) {
    .btn_close {position:absolute; top: 2rem; right: 2rem;}
    .btn_close:before {font-size:4rem;}
}


/* 명령어 등록 */
.addCmnd {position:fixed; top:0; right:0; width:100%; height:100%; z-index:10; display: flex; background: url(/img/bg.jpg) center center/cover no-repeat fixed #fefefe; align-items: center; justify-content: center; transform:translate(100%, 0);}
.addCmnd.active_addCmnd {transform:translate(0, 0)}
.addCmnd .add-form {width: 90vw; max-width:550px; margin-top: -10px;}
.addCmnd h2 {margin-bottom: 1.5rem; text-decoration: underline; font-family: "Black Han Sans"; font-size: 2.2rem; text-align: center;}
.addCmnd label {display: block;}
.addCmnd input {width: 100%; margin-bottom: -1px;}
.addCmnd .btn_add {display: block; width: 100%; margin-top: 1.5rem; height: 4rem; background: #f1c40f; font-size: 1.5rem; text-align: center; font-family: "Black Han Sans"; line-height: 4.2rem;}
.addCmnd .btn_close:before {color: #333;}
body.mobile .addCmnd {background: url(/img/bg_m.jpg) center top repeat-y fixed #fefefe;}


/* 공통 카드뷰 타입 */
.card-view {position: relative; clear:both; min-height: 70vh;}
.card-view li {position: relative; float: left; width:100%; margin-bottom: 0.8rem; padding: 0.9rem 1.4rem 1.1rem; background: #fff; border-radius: 0.5rem; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.2), 0 1px 10px rgba(0, 0, 0, .12);}

@media screen and (min-width: 768px) {
    .card-view li {width: calc((100% - 2rem) / 2); margin-bottom: 2rem;}
    .card-view li {margin-right: 2rem;}
    .card-view li:nth-child(2n) {margin-right: 0;}
}
@media screen and (min-width: 1024px) {
    .card-view li {width: calc((100% - 5.0rem) / 3); padding: 1.2rem 1.4rem 1.4rem;}
    .card-view li:nth-child(2n) {margin-right: 2rem;}
    .card-view li:nth-child(3n) {margin-right: 0;}
    .card-view li .cmnd {font-size: 2rem;}
}
@media screen and (min-width: 1200px) {
    .card-view li {width: calc((100% - 6rem) / 4);}
    .card-view li:nth-child(3n) {margin-right: 2rem;}
    .card-view li:nth-child(4n) {margin-right: 0;}
}



/*************************************************
                      contents
*************************************************/
/* 명령어 리스트 */
.cmnd-menu {font-size:0; text-align: center; margin: 0px 0 25px;}
.cmnd-menu li {position: relative; display: inline-block; vertical-align: middle;}
.cmnd-menu li a {display: inline-block; height: 2rem;}
.cmnd-menu .cmd_all a,
.cmnd-menu .cmd_general a,
.cmnd-menu .cmd_system a {position: relative; margin-left: 6px; padding: 0.3rem 0.8rem; border: 1px solid #333; border-radius: 10px;  font-weight: 600; font-size: 0.9rem; z-index: 0;}
.cmnd-menu .cmd_all a.on:before,
.cmnd-menu .cmd_general a.on:before,
.cmnd-menu .cmd_system a.on:before {content: ' '; position: absolute; top: 6px; left: 50%; width: 46px; height: 1rem; margin-left:-23px;  background: #f1c40f; z-index: -1;}
.cmnd-menu .cmd_all a.on:before {width: 20px; margin-left:-10px;}
.cmnd-menu .vt_card a, .cmnd-menu .vt_kwd a {margin-left: 15px; padding-top: 3px; font-size: 0; text-align: center;}
.cmnd-menu .vt_card a:before,
.cmnd-menu .vt_kwd a:before {margin-top:3px; font-family: "FontAwesome"; font-size: 23px; line-height: 100%;}
.cmnd-menu .vt_card a:before {content: '\f009';}
.cmnd-menu .vt_kwd a:before {content: '\f037';}
.cmnd-menu .vt_card a.on:before,
.cmnd-menu .vt_kwd a.on:before {color: #f1c40f;}

.cmnd-list li .cmnd {font-family: "Black Han Sans"; font-size: 1.8rem;}
.cmnd-list li .cmnd::first-letter {color:#594941;}
.cmnd-list li .no {position: absolute; top: 8px; left: -10px; width: 25px; height: 25px; background: #f1c40f; border-radius: 2rem; text-align:center; color:#fff; font-weight: 700; line-height: 25px; letter-spacing: -0.5px;}
.cmnd-list li .msg {font-size: 0.9rem; color: #444; line-height: 160%;}
.cmnd-list li .sign {font-size:0; }
.cmnd-list li.system {background: url(/img/bg_system.svg) no-repeat right bottom #fff;}
.cmnd-list li.system .sign {position: absolute; bottom: 0; right: 0; padding: 0.7rem 0.7rem 0.3rem 1.2rem; border-radius: 100% 0 0.5em 0; background: #594941; font-size: 0.8rem; font-weight: 700; color:#fff;}

.cmnd-list.kwdV li > div {display: none;}
.cmnd-list.kwdV li .cmnd {display: block; margin: 0; border: 0;}

@media screen and (min-width: 768px) {
    .cmnd-menu {text-align: right; margin: -20px 0 15px;}
}
@media screen and (min-width: 1200px) {
    .cmnd-menu {position:absolute; top:30px; right:12.5vw; margin:0; padding-right: 1.1rem; border-right: 1px solid;  }
    .cmnd-menu li a {font-size:1rem;}
}
@media screen and (min-width: 1400px) {
    .cmnd-menu {right:11vw;}
}


/* 메시지 리스트 */
.msg-list li .sender {font-family: "Black Han Sans"; font-size: 1.3rem;}
.msg-list li .sender:before {content: ' '; position:absolute; top: 0.75rem; left: 0.75rem; width: 0.5rem; height: 0.5rem; background:#f1c40f; border-radius: 3rem;}
.msg-list li .msgCon {height: 1.5rem; overflow-y: scroll;}
.msg-list li .sendDate {position: absolute; top: 1.2rem; right: 1.4rem; color: #666; font-size:0.8rem;}
.msg-list li .sendDate .date {margin-right:0.5rem;}

@media screen and (min-width: 768px) {
    .msg-list li .sender {font-size: 1.5rem;}
}
@media screen and (min-width: 1024px) {
    .msg-list li .sender {font-size: 1.6rem;}
    .msg-list li .sender:before {top: 1rem; left: 1rem; }
}
@media screen and (min-width: 1200px) {

}