{{>inc/header}}

<div class="main">
    <ul class="menu">
        <li>
            <a href="/command/list">
                <h2><b>명령어</b> 리스트<i>command list</i></h2>
                <span class="txt">카카오 오픈채팅방 대화시<br>자동답변등록된 명령어 키워드 목록</span>
                <span class="icon"><i>GO</i></span>
            </a>
        </li>
        <li>
            <a href="/message/list">
                <h2>메시지<br>리스트</h2>
                <span class="txt">카카오 오픈쳇방의<br>전체 메시지 목록</span>
                <span class="icon"></span>
            </a>
        </li>
        <li>
            <a href="/dashboard">
                <h2>환경<br>설정</h2>
                <span class="txt">그래프,<br>통계관련 정보</span>
                <span class="icon"></span>
            </a>
        </li>
    </ul>
</div>

{{>inc/footer}}