{{>inc/header}}

<div class="contents">

    <h2 class="title">메시지 리스트</h2>
    <section>

        <ul class="card-view msg-list">
        <!-- 목록 출력 영역 -->
        {{#messages}}
            <li>
                <div class="sender"><a href="/message/list/{{senderName}}">{{senderName}}</a></div>
                <div class="msgCon">{{content}}</div>
                <div class="sendDate"><span class="date">{{sendDate}}</span><span class="time">{{sendTime}}</span></div>
            </li>
        {{/messages}}
        </ul>
    </section>

</div>
{{>inc/footer}}